$red: #f72210;
$green: #39d14a;
$yellow: #fef224;
$blue: #0187e6;
$containerSize: 80vmin;

.Button {
  height: calc(40vmin - 50px);
  width: calc(40vmin - 50px);
  position: absolute;
  margin: 0;
  border: none;
  border-radius: -30px;
  transition: all 100ms;
  &:focus {
    outline: none;
    border: none;
  }
}

.Button {
  &:nth-child(1) {
    border-top-left-radius: 100%;
    top: 40px;
    left: 40px;
  }
  &:nth-child(2) {
    border-top-right-radius: 100%;
    top: 40px;
    right: 40px;
  }
  &:nth-child(3) {
    border-bottom-right-radius: 100%;
    bottom: 40px;
    right: 40px;
  }
  &:nth-child(4) {
    border-bottom-left-radius: 100%;
    bottom: 40px;
    left: 40px;
  }
}

#red {
   background:  $red;
  &.active {
    box-shadow: inset 0 0 3px 4px rgba(0,0,0,0.73);
    background:lighten( saturate( $red, 18%), 14%);
  }
}
#green {
   background:  $green;
  &.active {
    box-shadow: inset 0 0 3px 4px rgba(0,0,0,0.73);
    background:lighten( saturate( $green, 18%), 14%);
  }
}
#blue {
   background:  $blue;

  &.active {
    box-shadow: inset 0 0 3px 4px rgba(0,0,0,0.73);
    background:lighten( saturate( $blue, 18%), 14%);
  }
}
#yellow {
  background:  $yellow;
  &.active {
    box-shadow: inset 0 0 3px 4px rgba(0,0,0,0.73);
   background:lighten( saturate( $yellow, 18%), 14%);
  }
}
